body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,"Quicksand", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(https://st2.depositphotos.com/5448718/10570/v/600/depositphotos_105704794-stock-illustration-vector-seamless-pattern-with-cat.jpg);
}

#root {
  overflow-x: hidden;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
