.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.estiloContainer {
    display: grid;
    justify-items: center;
    width: 43rem;
    height: 38rem;
    padding: 3rem;
    border-radius: 44px;
    background: #d73f66;
    word-break: break-all;
    position: absolute;
}

@media (max-width: 840px) {
    .estiloContainer {
        width: auto;
    }
}
