.container {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.estiloContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 43rem;
    height: fit-content;
    padding: 3rem;
    border-radius: 44px;
    background: #d73f66;
    word-break: break-all;
}
.info {
    text-align: center;
}

@media (max-width: 840px) {
    .estiloContainer {
        width: auto;
    }
}

@media (max-height: 520px) {
    .estiloContainer {
        flex-direction: row;
    }
    .info {
        text-align: start;
        margin-left: 10px;
    }
}

