.estiloDiv {
    position: absolute;
    width: 100%;
    min-height: -webkit-fill-available;
    display: flex;
    justify-content: center;
    align-items: center;
}

.estiloForm {
    display: flex;
    flex-direction: column;
    width: 43rem;
    height: fit-content;
    padding: 3rem;
    border-radius: 44px;
    background: tan;
    word-break: break-all;
    text-align: center;
}

.estiloContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
}


