.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.estiloNav {
    position:fixed;
    display: flex;
    column-gap: 52px;
    background-color: slateblue;
    place-content: space-evenly;
    width: 100%;
    height: 59px;
    border-bottom: solid black;
}
.estiloNav > a {
    color: white;
    text-decoration: none;
    align-self: center;
    font-size: 25px;
    margin-left: 15px;
}

.estiloFiltros {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px;
    column-gap: 15px;
}
.estiloFiltros > select {
    font-family: cursive;
    border-radius: 73px;
    border-color: black;
    padding: 8px;
}
.estiloFiltrosResponsive{
    position: fixed;
    right: 0;
    top: 58px;
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 220px;
    justify-content: space-evenly;
    background-color: mediumslateblue;
    padding: 10px;

}

.estiloButtonReload {
    margin-top: 20px;
    font-family: "cursive";
    border-radius: "10px";
}
.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-top: 56px;
}

@media (max-width: 1365px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
    .estiloFiltros {
        display: none;
    }
  }
  @media (max-width: 1065px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (max-width: 668px) {
    .cards {
        grid-template-columns: 1fr
    }
  }

