
.estiloLanding {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: grid;
    justify-items: center;
    background-color: salmon;
    padding: 50px;
    border-radius: 10px;


}

.estiloLanding>h1{
    font-size: 50px;
    color: darkslateblue;
}

.estiloButton{

    
    background-color: slateblue;;
    padding: 20px;
    font-family: "cursive";
    border-radius: 10px;

    color: white;
    font-size: 25px; 
    margin-left: 15px; 

}
