.estilo{
    align-self: center;
    display: flex;
    column-gap: 10px;
}
.estilo>input{
    padding: 10px;
    border-radius: 10px;
}
@media (max-width: 665px) {
    .estilo{
        flex-direction: column;
    }

  }